<div class="task-card-container">
  <div class="card-details">
    <div class="card-details-important">
      <div class="status <%= task.status %>">
        <%= task.status.upcase %>
      </div>

      <div class="task-data">
        <h1><%= task.title %></h1>
        <h4><%= task.due_date %></h4>
      </div>
    </div>
        
    <div class="category">
      <%= link_to category_name.upcase, category_path(task.category_id) %>
    </div>

    <div class="action-icon">
      <%= link_to 'View', category_task_path(category_id: task.category_id, id: task.id), {remote: true, 'data-toggle' =>  "modal", 'data-target' => '#showModal', class: "show" } %>
    </div>
  </div>
  <div class="card-border-bottom"></div>
</div>