<h1>Create Task</h1>

<%= form_with model: [:category, @task], method: :post do |form| %>
  <%= form.text_field :title %>
  <%= form.text_area :body %>
  <%= form.date_field :due_date, value: Time.now.strftime('%Y-%m-%d') %>
  <%= form.submit "Create Task", class: "submit" %>
<% end %>