<!DOCTYPE html>
<html>
  <head>
    <title>PlannerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

  <%# general modal %>
  <div id="categoryModal" class="modal hide fade" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content" id="modal-content">
      </div>
    </div>
  </div>

  <%# show modal %>
  <div id="showModal" class="modal hide fade" aria-labelledby="exampleModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content" id="modal-content">
      </div>
    </div>
  </div>

  </body>
</html>
